USE [master]
GO
/****** Object:  Database [memoryGame]    Script Date: 25/3/2026 21:07:45 ******/
CREATE DATABASE [memoryGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'memoryGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\memoryGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'memoryGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\memoryGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [memoryGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [memoryGame]
GO
/****** Object:  User [maomao]    Script Date: 25/3/2026 21:07:45 ******/
CREATE USER [maomao] FOR LOGIN [maomao] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [maomao]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [maomao]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [maomao]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [maomao]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [maomao]
GO
ALTER ROLE [db_datareader] ADD MEMBER [maomao]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [maomao]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [maomao]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [maomao]
GO
/****** Object:  Table [dbo].[card]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card](
	[cardId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](80) NULL,
	[inventoryId] [int] NOT NULL,
 CONSTRAINT [PK_card] PRIMARY KEY CLUSTERED 
(
	[cardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[friend]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[friend](
	[userId1] [int] NOT NULL,
	[userId2] [int] NOT NULL,
 CONSTRAINT [PK_friend] PRIMARY KEY CLUSTERED 
(
	[userId1] ASC,
	[userId2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendRequest]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendRequest](
	[requestId] [int] IDENTITY(1,1) NOT NULL,
	[senderId] [int] NOT NULL,
	[receiverId] [int] NOT NULL,
	[sentAt] [datetime] NULL,
 CONSTRAINT [PK_FriendRequest] PRIMARY KEY CLUSTERED 
(
	[requestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[inventoryId] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[matchId] [int] NOT NULL,
 CONSTRAINT [PK_inventory] PRIMARY KEY CLUSTERED 
(
	[inventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match](
	[matchId] [int] IDENTITY(1,1) NOT NULL,
	[startDateTime] [datetime] NOT NULL,
	[endDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_match] PRIMARY KEY CLUSTERED 
(
	[matchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matchHistory]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matchHistory](
	[userId] [int] NOT NULL,
	[matchId] [int] NOT NULL,
	[score] [int] NOT NULL,
	[winnerId] [int] NULL,
 CONSTRAINT [PK_matchHistory] PRIMARY KEY CLUSTERED 
(
	[userId] ASC,
	[matchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penalty]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penalty](
	[penaltyId] [int] IDENTITY(1,1) NOT NULL,
	[type] [tinyint] NOT NULL,
	[duration] [datetime] NOT NULL,
	[matchId] [int] NOT NULL,
 CONSTRAINT [PK_penalty] PRIMARY KEY CLUSTERED 
(
	[penaltyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pendingRegistration]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pendingRegistration](
	[pendingRegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[pin] [nvarchar](10) NOT NULL,
	[expirationTime] [datetime] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[hashedPassword] [nvarchar](max) NULL,
 CONSTRAINT [PK_pendingRegistration] PRIMARY KEY CLUSTERED 
(
	[pendingRegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socialNetwork]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socialNetwork](
	[socialNetworkId] [int] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](50) NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_socialNetwork] PRIMARY KEY CLUSTERED 
(
	[socialNetworkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](30) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[avatar] [varbinary](max) NULL,
	[penaltyId] [int] NULL,
	[isGuest] [bit] NOT NULL,
	[verifiedEmail] [bit] NOT NULL,
	[registrationDate] [datetime2](7) NOT NULL,
	[name] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_user_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_user_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userSession]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userSession](
	[token] [nvarchar](64) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[expiresAt] [datetime2](7) NOT NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_userSession] PRIMARY KEY CLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FriendRequest] ADD  DEFAULT (getutcdate()) FOR [sentAt]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getutcdate()) FOR [registrationDate]
GO
ALTER TABLE [dbo].[card]  WITH CHECK ADD  CONSTRAINT [FK_card_inventory] FOREIGN KEY([inventoryId])
REFERENCES [dbo].[inventory] ([inventoryId])
GO
ALTER TABLE [dbo].[card] CHECK CONSTRAINT [FK_card_inventory]
GO
ALTER TABLE [dbo].[friend]  WITH CHECK ADD  CONSTRAINT [FK_friend_user] FOREIGN KEY([userId1])
REFERENCES [dbo].[user] ([userId])
GO
ALTER TABLE [dbo].[friend] CHECK CONSTRAINT [FK_friend_user]
GO
ALTER TABLE [dbo].[friend]  WITH CHECK ADD  CONSTRAINT [FK_friend_user1] FOREIGN KEY([userId2])
REFERENCES [dbo].[user] ([userId])
GO
ALTER TABLE [dbo].[friend] CHECK CONSTRAINT [FK_friend_user1]
GO
ALTER TABLE [dbo].[FriendRequest]  WITH CHECK ADD  CONSTRAINT [FK_FriendRequest_Receiver] FOREIGN KEY([receiverId])
REFERENCES [dbo].[user] ([userId])
GO
ALTER TABLE [dbo].[FriendRequest] CHECK CONSTRAINT [FK_FriendRequest_Receiver]
GO
ALTER TABLE [dbo].[FriendRequest]  WITH CHECK ADD  CONSTRAINT [FK_FriendRequest_Sender] FOREIGN KEY([senderId])
REFERENCES [dbo].[user] ([userId])
GO
ALTER TABLE [dbo].[FriendRequest] CHECK CONSTRAINT [FK_FriendRequest_Sender]
GO
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [FK_inventory_match] FOREIGN KEY([matchId])
REFERENCES [dbo].[match] ([matchId])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [FK_inventory_match]
GO
ALTER TABLE [dbo].[matchHistory]  WITH CHECK ADD  CONSTRAINT [FK_matchHistory_match] FOREIGN KEY([matchId])
REFERENCES [dbo].[match] ([matchId])
GO
ALTER TABLE [dbo].[matchHistory] CHECK CONSTRAINT [FK_matchHistory_match]
GO
ALTER TABLE [dbo].[matchHistory]  WITH CHECK ADD  CONSTRAINT [FK_matchHistory_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([userId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[matchHistory] CHECK CONSTRAINT [FK_matchHistory_user]
GO
ALTER TABLE [dbo].[penalty]  WITH CHECK ADD  CONSTRAINT [FK_penalty_match] FOREIGN KEY([matchId])
REFERENCES [dbo].[match] ([matchId])
GO
ALTER TABLE [dbo].[penalty] CHECK CONSTRAINT [FK_penalty_match]
GO
ALTER TABLE [dbo].[socialNetwork]  WITH CHECK ADD  CONSTRAINT [FK_socialNetwork_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([userId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[socialNetwork] CHECK CONSTRAINT [FK_socialNetwork_user]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_penalty] FOREIGN KEY([penaltyId])
REFERENCES [dbo].[penalty] ([penaltyId])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_penalty]
GO
ALTER TABLE [dbo].[userSession]  WITH CHECK ADD  CONSTRAINT [FK_userSession_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([userId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[userSession] CHECK CONSTRAINT [FK_userSession_user]
GO
/****** Object:  StoredProcedure [dbo].[sp_CleanupGuestAccounts]    Script Date: 25/3/2026 21:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CleanupGuestAccounts]
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Borrar relaciones en 'friend'
    DELETE FROM [dbo].[friend]
    WHERE [userId1] IN (SELECT [userId] FROM [dbo].[user] WHERE [isGuest] = 1 AND [registrationDate] < DATEADD(hour, -24, GETUTCDATE()))
       OR [userId2] IN (SELECT [userId] FROM [dbo].[user] WHERE [isGuest] = 1 AND [registrationDate] < DATEADD(hour, -24, GETUTCDATE()));

    -- 2. Borrar relaciones en 'FriendRequest' (NUEVO)
    DELETE FROM [dbo].[FriendRequest]
    WHERE [senderId] IN (SELECT [userId] FROM [dbo].[user] WHERE [isGuest] = 1 AND [registrationDate] < DATEADD(hour, -24, GETUTCDATE()))
       OR [receiverId] IN (SELECT [userId] FROM [dbo].[user] WHERE [isGuest] = 1 AND [registrationDate] < DATEADD(hour, -24, GETUTCDATE()));

    -- 3. Eliminar la cuenta de invitado
    DELETE FROM [dbo].[user]
    WHERE [isGuest] = 1 
      AND [registrationDate] < DATEADD(hour, -24, GETUTCDATE()); 
END
GO
USE [master]
GO
