<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
		  <behavior name="lobbyBehavior">
			  <serviceMetadata httpGetEnabled="true" />
			  <serviceDebug includeExceptionDetailInFaults="true" />
		  </behavior>
      </serviceBehaviors>
    </behaviors>

	  <bindings>
		  <netTcpBinding>
			  <binding name="lobbyTcpBinding" maxReceivedMessageSize="65535" sendTimeout="00:01:00" receiveTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00">
				  <security mode="None" />
				  <reliableSession enabled="false" />
			  </binding>
		  </netTcpBinding>
	  </bindings>
	  
    <services>
		<service behaviorConfiguration="mexBehavior" name="Server.SessionService.UserService">
			<endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="Server.SessionService.IUserService" />
			<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			<endpoint address="mexHttp" binding="mexHttpBinding" contract="IMetadataExchange" />

			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:52000" />
					<add baseAddress="net.tcp://localhost:52001" />
				</baseAddresses>
			</host>
		</service>

		<service behaviorConfiguration="lobbyBehavior" name="Server.LobbyService.GameLobbyService">
			<endpoint address="" binding="netTcpBinding" bindingConfiguration="lobbyTcpBinding" contract="Server.LobbyService.IGameLobbyService" />
			<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			<endpoint address="mexHttp" binding="mexHttpBinding" contract="IMetadataExchange" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:53000" />
					<add baseAddress="net.tcp://localhost:53001" />
				</baseAddresses>
			</host>
		</service>
    </services>
	  <diagnostics>
		  <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="3000" />
	  </diagnostics>
  </system.serviceModel>
  <connectionStrings>
  <add name="memoryGameDBEntities" connectionString="metadata=res://*/MemoryGame.csdl|res://*/MemoryGame.ssdl|res://*/MemoryGame.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3NG7T8AU\SQLEXPRESS;initial catalog=memoryGameDB;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>