<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="mexBehavior" name="Server.Service1">
				<endpoint address="Server" binding="netTcpBinding" bindingConfiguration="" contract="Server.IService1" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8085" />
						<add baseAddress="net.tcp://localhost:8086" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

<connectionStrings><add name="memoryGameEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=memoryGame;user id=maomao;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
