<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="languageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGameLobbyService" 
						 closeTimeout="00:10:00"
						 openTimeout="00:10:00" 
						 receiveTimeout="00:10:00" 
						 sendTimeout="00:10:00"
						 maxBufferPoolSize="52428800" 
						 maxReceivedMessageSize="52428800">
                    <reliableSession inactivityTimeout="00:10:00" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserService" 
						 closeTimeout="00:10:00"
						 openTimeout="00:10:00" 
						 receiveTimeout="00:10:00" 
						 sendTimeout="00:10:00"
						 maxBufferPoolSize="52428800" 
						 maxReceivedMessageSize="52428800">
                    <reliableSession inactivityTimeout="00:10:00" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:52001/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserService" contract="UserServiceReference.IUserService"
                name="NetTcpBinding_IUserService" />
            <endpoint address="net.tcp://localhost:53001/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameLobbyService" contract="GameLobbyServiceReference.IGameLobbyService"
                name="NetTcpBinding_IGameLobbyService" />
        </client>
    </system.serviceModel>
</configuration>